.stul {
  margin: auto;
  position: relative;
  border-collapse: collapse;
}
th,
td {
  padding: 5px;
  position: relative;
}

.role {
  margin-top: 50px;
  position: relative;
  margin-left: 40%;
}
.buttonek {
  margin-left: 50%;
  margin-top: 150px;
}
